<!DOCTYPE html>
<html lang="en">
        <head>
            <!-- Required meta tags -->
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

            <!-- Required Stylesheets -->
            <link
            type="text/css"
            rel="stylesheet"
            href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
            />
            <link
            type="text/css"
            rel="stylesheet"
            href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
            />

            <!-- Load polyfills to support older browsers -->
            <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

            <!-- Required scripts -->
            <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
            <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
            <script src="https://cdn.plot.ly/plotly-2.1.0.min.js"></script>
            <script src='/socket.io/socket.io.js'></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js"></script>
            <script type="text/javascript" src="/update.js"></script>
            <script type="text/javascript" src="https://apis.google.com/js/api.js?onload=loadPicker"></script>
            <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
            <script type="text/javascript">
                var developerKey = 'AIzaSyDWpKfzB9fTS16iTBg0FqT7_kRr0fq0rRI';
                var clientId = '869904555675-kpje9fhnaoncru44ekg1ucgnvsa5cjlm.apps.googleusercontent.com';
                var appId = '869904555675';
                var scope = [
                    'https://www.googleapis.com/auth/drive'
                ];
                var pickerApiLoaded = false;
                var oauthToken;
                var socket = io();
                
                // Use the Google API Loader script to load the google.picker script.
                function loadPicker() {
                gapi.load('auth', {'callback': onAuthApiLoad});
                gapi.load('picker', {'callback': onPickerApiLoad});
                }

                function onAuthApiLoad() {
                window.gapi.auth.authorize(
                    {
                        'client_id': clientId,
                        'scope': scope,
                        'immediate': false
                    },
                    handleAuthResult);
                }

                function onPickerApiLoad() {
                pickerApiLoaded = true;
                createPicker();
                }

                function handleAuthResult(authResult) {
                    if (authResult && !authResult.error) {
                        oauthToken = authResult.access_token;
                        socket.emit('token', authResult);
                        createPicker();
                    }
                }

                // Create and render a Picker object for searching images.
                function createPicker() {
                    if (pickerApiLoaded && oauthToken) {
                        var docs_view = new google.picker.DocsView(google.picker.ViewId.FOLDERS)
                                .setIncludeFolders(true)
                                .setSelectFolderEnabled(true)
                        var picker = new google.picker.PickerBuilder()
                            .enableFeature(google.picker.Feature.NAV_HIDDEN)
                            .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
                            .setAppId(appId)
                            .setOAuthToken(oauthToken)
                            .setTitle('Select Folder')
                            .addView(docs_view)
                            .setDeveloperKey(developerKey)
                            .setCallback(pickerCallback)
                            .build();
                        picker.setVisible(true);
                    }
                }

                // A simple callback implementation.
                function pickerCallback(data) {
                    if (data.action == google.picker.Action.PICKED) {
                        window.app.folderid = data.docs[0].id;
                        socket.emit('export', [window.app.filename, window.app.folderid])
                        console.log('exported')
                    }
                }

                // function uploadFile(filename, folderid, readstream) {
                //     const fileMetadata = {
                //         name: `${filename}.csv`,
                //         parents: [folderid]
                //     };
                //     const media = {
                //         mimeType: 'text/csv',
                //         body: readstream
                //     };
                //     gapi.client.drive.files.create({
                //         resource: fileMetadata,
                //         media: media,
                //         fields: 'id'
                //     }, function (err, file) {
                //         if (err) {
                //             console.error(err);
                //         } else {
                //             window.app.folderid = file.id;
                //             console.log('File Id: ', file.id);
                //         }
                //     });
                // }
            </script>
            <!-- <script async defer src="https://apis.google.com/js/api.js"
                onload="this.onload=function(){};handleClientLoad()"
                onreadystatechange="if (this.readyState === 'complete') this.onload()">
            </script> -->
        </head>

        <body>

            <div id="app">
                <b-navbar type="dark" variant="dark">
                    <b-navbar-nav>
                        <b-navbar-nav>
                            <b-nav-item href="/home">Home</b-nav-item>
                            <b-nav-item href="/graphs">Graphs</b-nav-item>
                            <b-nav-item href="/gd">Google Drive</b-nav-item>
                        </b-navbar-nav>
                    </b-navbar-nav>
                </b-navbar>


                <b-container>
                    <b-jumbotron header="GoogleDrive" lead="Save data into .csv or .dat file format">
                        <hr class="my-4">
                    </b-jumbotron>

                    <div>
                        <b-form>
                            <b-input-group class="record-inputs">
                                <b-form-input
                                    id="record-filename"
                                    v-model="filename"
                                    type="text"
                                    placeholder="filename"
                                    required
                                ></b-form-input>
                                <b-input-group-append>
                                <b-button @click="onExport" variant="outline-primary">Export</b-button>
                            </b-input-group>
                        </b-form>
                    </div>

                </b-container>
                    

            </div>
                <script>
                    
                </script>
                <script>
                    window.app = new Vue({
                    el: '#app',
                    data: {
                        name: '',
                        filename: '',
                        folderid: '',
                    },
                    methods: {
                      onExport(event) {
                          event.preventDefault();
                          loadPicker();
                      }  
                    },
                    computed: {
                        showAlert() {
                        return this.name.length > 4 ? true : false
                        }
                    }
                    })
                </script>

        </body>
 </html>