<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <!-- Required Stylesheets -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>
    <!-- Required scripts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.1.0.min.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js"></script>
    <script type="text/javascript" src="/update.js"></script>
</head>

<body>
    <div id="app">
        <b-navbar type="dark" variant="dark">
            <b-navbar-nav>
                <b-navbar-nav>
                    <b-nav-item href="/home">Home</b-nav-item>
                    <b-nav-item href="/graphs">Graphs</b-nav-item>
                    <b-nav-item href="/gd">Google Drive</b-nav-item>
                </b-navbar-nav>
                <!-- <b-nav-item-dropdown text="User" right>
                            <b-dropdown-item href="#">Account</b-dropdown-item>
                            <b-dropdown-item href="#">Settings</b-dropdown-item>
                        </b-nav-item-dropdown> -->
            </b-navbar-nav>
        </b-navbar>
        <b-container>
            <b-jumbotron header="Graphs" lead="Plotly graphs for PPMS and SR860 Lock-in">
                <hr class="my-4">
            </b-jumbotron>
            <div style="display: inline-block;">
                <b-form-select v-model="selectedX" :options="optionsX" @change="updateGraph"></b-form-select>
                <b-form-select v-model="selectedY" :options="optionsY" @change="updateGraph"></b-form-select>
            </div>
        </b-container>
    </div>
    <div class="chart-container"
        style="margin-left: 100px; display: flex; justify-content: center; height:40vh; width:80vw">
        <canvas id="myChart"></canvas>
    </div>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    data: [],
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }],
                labels: []
            },
            options: {
                scales: {
                    y: {
                        title: {
                            display: true
                        }
                    },
                    x: {
                        title: {
                            display: true
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        })
    </script>
    <script>
        var socket = io();
        var graphData = {
            'temp': [],
            'Vx1': [],
            'Vy1': [],
            'field': [],
            'freq1': [],
            'freq2': [],
            'theta1': [],
            'theta2': [],
            'time': [],
        }

        function parseData(jsonData) {
            Object.keys(jsonData[0]).forEach(k => {
                graphData[k] = jsonData.map(o => o[k]);
            });
            graphData.time = [...Array(graphData.temp.length).keys()];
        }

        function storeData(data) {
            prevData = JSON.parse(sessionStorage.streamData)
            if (prevData.length > 500) {
                prevData.shift();
            }
            prevData.push(data);
            sessionStorage.streamData = JSON.stringify(prevData);
        }

        function renderGraph(chart, dataDict, axisX, axisY) {
            chart.data.datasets[0].data = dataDict[axisY];
            chart.data.labels = dataDict[axisX];
            chart.options.scales.y.title.text = axisY;
            chart.options.scales.x.title.text = axisX;
            chart.update();
        }


        socket.on('data', function (data) {
            if (data != null) {
                console.log('updating graph');
                storeData(data);
                parseData(JSON.parse(sessionStorage.streamData));
                window.app.updateGraph();
            }
        })


        // parseData(JSON.parse(sessionStorage.streamData));

    </script>
    <script>
        window.app = new Vue({
            el: '#app',
            data: {
                selectedX: null,
                selectedY: null,
                optionsX: [{ value: null, text: 'Select X Axis' }].concat(Object.keys(graphData).map(function (e) { return { value: e, text: e } })),
                optionsY: [{ value: null, text: 'Select Y Axis' }].concat(Object.keys(graphData).map(function (e) { return { value: e, text: e } }))
            },
            methods: {
                updateGraph() {
                    // check if both options selected
                    if (this.selectedX != null && this.selectedY != null) {
                        renderGraph(myChart, graphData, this.selectedX, this.selectedY);
                    }
                },
            },
            computed: {
                showAlert() {
                    return this.name.length > 4 ? true : false
                }
            }
        })
    </script>
</body>

</html>