.func_Div {
  position: absolute;
  top: 5%;
  display: none;
  text-align: right;
  margin-left: 35%;
  border-top: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
}

.top-func-div {
  margin-top: 10px;
}

.bottom-func-div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mr-0 {
  margin-right: 0;
}

.ml-auto {
  margin-left: auto;
}

.d-block {
  display: block;
}

#function_button_container {
  border-left: 0.5px solid gray;
  border-top: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
  margin-right: 70%;
  overflow: auto;
}

#function_buttons {
  padding-left: 5%;
  margin-bottom: -200%;
}

.function_button {
  position: relative;
}

#set_functions_container_cont {
  position: absolute;
  border: 0.5px solid gray;
  border-radius: 3%;
  background-color: antiquewhite;
  left: 35%;
  padding-bottom: 45%;
  padding-right: 60%;
  bottom: 5%;
  overflow: auto;
}

#set_functions_container {
  position: absolute;
  margin-left: 0%;
  margin-right: 2%;
}

#set_functions {
  position: absolute;
  border: 1px solid red;
  margin-left: 50%;
}

#error_div {
  display: none;
  margin-right: 76%;
  margin-left: 3%;
  border: 3px solid red;
  background-color: black;
  color: red;
  text-align: center;
}
